<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>image_srcset</title>
</head>
<body>
  <picture>
    <!-- 1024px이상에서 -->
    <source srcset="https://via.placeholder.com/1000X458" media="(min-width:1024px)">
    <!-- 768px 이상에서 -->
    <source srcset="https://via.placeholder.com/740X280" media="(min-width:768px)">
    <!-- 320px 이상에서 -->
    <source srcset="https://via.placeholder.com/300X150" media="(min-width:320px)">
    <!-- 그 외 -->
    <img src="https://via.placeholder.com/1024X768" alt="" style="max-width: 100%;">
  </picture>
</body>
</html>