<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>네이버:회원가입</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" >
  <link rel="stylesheet" href="./css/naver_signup.css">
</head>
<body>
  <!-- 헤더영역 -->
  <header>
    <!-- 가운데 정렬을 위한 inner div -->
    <div class="top">
      <!-- h1(강조의 의미) 또는 div를 사용해도 됨 -->
      <h1 class="logo">
        <a href="https://www.naver.com/">naver</a>
      </h1>
    </div>
  </header>


  <!-- 메인 영역 -->
  <main id="container">
  <!-- 가운데 정렬을 위한 inner div -->
    <div class="section-input">
      <label for="id" class="label">아이디</label>
      <div class="input-group-row">
        <input type="text" id="id">
        <span>@naver.com</span>
      </div>

      <br>
      <label for="">비밀번호</label>
      <input type="text" id="id1">
      <br><br>
      <label for="">비밀번호 재확인</label>
      <input type="text" id="id2">
      <br><br>

      <label for="birthday">생년월일</label>
      <br>

      <input type="text" class="birthday" placeholder="년(4자)">
      <select class="birthday">
        <option value="" >월</option>
        <option value="" >1</option>
        <option value="" >2</option>
        <option value="" >3</option>
        <option value="" >4</option>
        <option value="" >5</option>
        <option value="" >6</option>
        <option value="" >7</option>
        <option value="" >8</option>
        <option value="" >9</option>
        <option value="" >10</option>
        <option value="" >11</option>
        <option value="" >12</option>
      </select>
      <input type="text" class="birthday" placeholder="일">

      <br><br>
      <label for="gender">성별</label>
      <select id="gender">
        <option value="g">성별</option>
        <option value="m">남자</option>
        <option value="w">여자</option>
        <option value="no">선택 안함</option>
      </select>

      <br><br>
      <label for="">본인확인 이메일</label>
      <input type="text" id="id5" placeholder="선택입력">
      <br><br>

      <label for="phone" class="telephone">휴대전화</label>
      <select class="phonenumber">
        <option value="korea">대한민국+82</option>
        <option value="gana">가나+233</option>
        <option value="gris">그리스+30</option>
        <option value="gini">기니+224</option>
      </select>
      <input type="text" class="phone" value="전화번호 입력">
      <button>인증번호받기</button>
      <input type="text" id="phonecheck" value="인증번호 입력하세요" >


    </div>
  </main>

  <!-- 푸터 영역 -->
  <footer>
  <!-- 가운데 정렬을 위한 inner div -->
  <div class="bottom">
    <div class="bt-menu">하단 메뉴자리</div>
    <div class="copyright">카피라이트 자리</div>
  </div>
  </footer>
</body>
</html>